.table{
    border-style: ridge;
    width: 800px;
    height: 500px;
    margin-left: 200px;
    border-collapse: collapse;   
}
table th {
    border: ridge;
    padding: 20px;
    box-shadow: 5px 10px;
}
table td {
    border: ridge;
}
.satauri{
    margin-left: 550px;
    margin-bottom: auto;
}

